<section layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" layout-fill>
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Filtros</h1>
    </md-toolbar>
    <md-content layout-padding>
      a
    </md-content>
  </md-sidenav>
  <md-content flex layout-margin layout-padding>
    <div layout="row">
      <md-input-container flex="fill">
        <label>Search</label>
        <input type="text" ng-model="search">
      </md-input-container>
    </div>
    <div layout="row" ng-controller="ProductCtrl"  layout-wrap>
    	<div flex="25" ng-repeat="product in products">
    		<md-card>
	        <img
	          ng-src="{{ product.photo }}"/>
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">{{ product.name }}</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>
	          <p>
	            <small>de R$ {{ product.variance | currency }}</small>
	          </p>
	          <p>por <strong>R$ {{ product.price | currency }}</strong></p>
	        </md-card-content>
	      </md-card>
    	</div>
    </div>
  </md-content>
</section>