<div layout="column" layout-align="space-around">
    <md-content layout>
        <span flex="10"></span>
        <div layout="row" flex="80" layout-margin layout padding>
            <div flex="45">
                <form layout="column">
                    <h3><md-icon class="big-icon teal-icon" md-svg-src="pencil-box-outline"></md-icon> Cadastrar</h3>
                    <div layout="row" layout>
                        <md-input-container flex="fill">
                            <legal>Nome</label>
                            <input type="text" ng-model='register.name'/>
                        </md-input-container>
                        <md-input-container flex="60">
                            <legal>Sobrenome</label>
                            <input type="text" ng-model='register.lastname'/>
                        </md-input-container>
                    </div>
                    <md-input-container>
                        <legal>E-mail</label>
                        <input type="email" ng-model='register.email'/>
                    </md-input-container>
                    <div layout="row" layout>
                        <md-input-container flex="fill">
                            <label>Senha</label>
                            <input type="password" ng-model='register.pass' />
                        </md-input-container>
                        <md-input-container flex="fill">
                            <label>Confirmar senha</label>
                            <input type="password" ng-model='register.confirmPass' />
                        </md-input-container>
                    </div>
                    <div layout layout-align="end" layout-padding>
                        <md-button class="md-raised">Registrar</md-button>
                    </div>

                </from>
            </div>
            <div flex="fill"></div>
            <div flex="45" layout="column">
                <form layout="column">
                    <h3><md-icon class="big-icon teal-icon" md-svg-src="account-circle"></md-icon> Entrar</h3>
                    <md-input-container>
                        <legal>E-mail</label>
                        <input type="email" ng-model='login.email'/>
                    </md-input-container>
                    <md-input-container>
                        <label>Senha</label>
                        <input type="password" ng-model='login.pass' />
                    </md-input-container>
                    <div>
                        <a ng-href="#/forgot/password">Esqueceu sua senha?</a>
                    </div>
                    <div layout layout-align="end" layout-padding>
                        <md-button class="md-raised">LOGIN</md-button>
                    </div>
                    <md-divider></md-divider>
                    <div flex="100" layout="column" layout-margin>
                        <md-button class="md-raised facebook-color" layout-padding>Entrar com o Facebook</md-button>
                        <md-button class="md-raised google-color" layout-padding>Entrar com o Google</md-button>
                    </div>
                </from>
            </div>
        </div>
    </md-content>
</div>
