<md-content layout="row">
    <span flex="30"></span>
    <div flex="40">
        <form layout="column" layout-margin layout padding>
            <h3><md-icon class="big-icon teal-icon" md-svg-src="account-circle"></md-icon> Login</h3>
            <md-input-container>
                <legal>E-mail</label>
                <input type="email" ng-model='login.email'/>
            </md-input-container>
            <md-input-container>
                <label>Senha</label>
                <input type="password" ng-model='login.senha' />
            </md-input-container>
            <div>
                <a ng-href="#/forgot/password">Esqueceu sua senha?</a>
            </div>
            <div layout layout-align="end">
                <md-button class="md-raised">LOGIN</md-button>
            </div>
            <span flex="30" layout="column">
                <md-button class="md-raised" layout-padding>Registrar</md-button>
            </span>

            <md-divider></md-divider>
            <div flex="100" layout="column" layout-margin>
                <md-button class="md-raised facebook-color" layout-padding>Login with Facebook</md-button>
                <md-button class="md-raised google-color" layout-padding>Login with Google</md-button>
            </div>
        </from>
    </div>
</md-content>
